*{
            margin: 0;
            padding: 0;
        }
        body{
            background-image: linear-gradient(to left bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bffb, #52cffe, #41dfff, #46eefa, #5ffbf1);
            height: 100%;
        }
           
        .navbar{
    height: 75px;
    background-color: #000;
}
.icon{
    width: 350px;
    float: left;
    height: 70px;
    margin-left: 50px;
    margin-top: 10px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
    text-shadow: 0.3px 0px 0px white;
}

        .menu{
            width: 500px;
    float: left;
    margin-top: 10px;
        }
        ul{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }


ul li{
    list-style: none;
    margin-top: 18px;
    font-size: 14px;
    margin-left:80px;
    
}
ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-size: 18px;
}

ul li a:hover{
    color: #ff7200;
    transition: 0.s ease-in-out;
}

h1{
    color: #ffffff;
    text-align: left;
    font-size: 50px;

}

.items1{
    width: 100%;
    height: 300px;
    display: flex;
    padding: 10px;
}

.services{
    margin-top: 10px;
    width:250px;
    height: 300px;
    border-radius: 10px;
   align-items: center;
    padding: 20px;
    margin-left: 35px;
    background-color: #fff;
    border-radius: 10px;
    transition: 2s ease-out;
}
.services:hover{
    transform: translateY(-8px);
}


#mou{
   padding-left: -10px;
   width: 260px;
   height: 200px;
}

#san{
   padding-top: -20px;
   padding-left: 25px;
   width: 200px;
   height: 200px;
}

#pods{
   padding-top: -20px;
   padding-left: 25px;
   width: 200px;
   height: 200px;
}

#pad1{
   padding-top: -20px;
   padding-left: 20px;
   width: 200px;
   height: 200px;
}
p{
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}
button{
    margin-left: 70px;
    margin-top: 10px;
    background-color: #ff7200;
    color: #fff;
    border: none;
    height: 30px;
    width: 110px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px black;
}
button:hover{
    background-color: rgb(75, 186, 245);
    transition: 0.8s ease-in-out;
}

.items2{
    width: 100%;
    height: 300px;
    display: flex;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#lap{
    width: 250px;
    height: 140px;
}

#hdd{
    width: 200px;
    height:150px;
    padding-left: 20px;
}

#hub1{
    width: 230px;
    height: 160px;
    padding-left: 10px;
}

#OTG{
   width: 200px;
    height: 170px;
    padding-left: 10px;  
}

.footer{
    background-color: #000000;
    height: 100px;
    width: 100%;
    margin-top: 60px;
 }

 #foot{
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
 }
 #ft{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif ;
    color: #ffffff;
 }
